html,
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin-top: 0;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.icon {
  margin: 20px;
  width: 50px;
  height: 100px;

}

nav>a {
  font-family: cardo;
  margin-right: 30px;
  font-size: 22px;
  color: rgb(8, 8, 8);
  font-weight: bold;



}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  height: 100vh;
  position: relative;
  gap: 0;
  margin-top: 60px;
}

p {
  font-size: 20px;
}

h1,
p {

  font-family: cardo;
  display: block;

}

.part1 {
  width: 300px;
  height: 500px;
  position: absolute;
  text-align: center;
  top: 150px;
  font-size: 20px;

}

.part2 {
  width: 700px;
  height: 600px;
  margin-left: 70%;

}

.pic1 {
  width: 600px;
  height: 600px;
  border-radius: 80px;


}

.pic2 {
  width: 550px;
  height: 500px;
  border-radius: 80px;
}

.spin {
  position: absolute;
  animation: spin 20s linear infinite;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pic1 {
  animation: spin 20s linear infinite, fade1 10s infinite;
}

.pic2 {
  animation: spin 20s linear infinite, fade2 10s infinite;
}

@keyframes fade1 {

  0%,
  45% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {

  0%,
  45% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}